@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  font-size: .9375rem;
}

/* style sidebar */
  #sidebar {
      overflow: hidden;
      z-index: 3;
      box-shadow: 0 2px 4px rgba(0,0,0,.08);
  }
  #sidebar .list-group {
      min-width: 100%;
      background-color: #333;
      min-height: 100%;
  }
  #sidebar i {
      margin-right: 6px;
  }

  #sidebar .list-group-item {
      border-radius: 0;
      background-color: #ffff;
      color: #58595b;
      border-left: 0;
      border-right: 0;
      border-color: transparent;
      white-space: nowrap;
  }

  /* highlight active menu */
  #sidebar .list-group-item:not(.collapsed) {
      /* background-color: #1A4064; */
  }

  /* closed state */
  #sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: '\f054';
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 1.5rem;
    font-size: .70rem;
    top: 18px;
    float:right;

  }
  #sidebar .list-group a:hover{
    text-decoration: none;
    color:#598c01;
    background: #f2f7fb;
  }
  /* open state */
  #sidebar .list-group .list-group-item[aria-expanded="true"] {
    /* background-color: #104b85; */
    color:#4ba645 ;
    border-left: 5px solid #95c83d;
  }
  #sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f078";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 2rem;
    font-size: .70rem;
    float:right;
  }

  /* level 1*/
  #sidebar .list-group .collapse .list-group-item,
  #sidebar .list-group .collapsing .list-group-item  {
    padding-left: 20px;
  }

  /* level 2*/
  #sidebar .list-group .collapse > .collapse .list-group-item,
  #sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
  }

  /* level 3*/
  #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
  }
  /* @media (min-width: 576px) {
    .login-container{
        max-width:90% !important;
    }
  } */

  @media (max-width:768px) {
      #sidebar {
          min-width: 35px;
          max-width: 40px;
          overflow-y: auto;
          overflow-x: visible;
          transition: all 0.25s ease;
          transform: translateX(-45px);
          position: fixed;
      }

      #sidebar.show {
          transform: translateX(0);
      }

      #sidebar::-webkit-scrollbar{ width: 0px; }

      #sidebar, #sidebar .list-group {
          min-width: 35px;
          overflow: visible;
      }
      /* overlay sub levels on small screens */
      #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
          position: relative;
          z-index: 1;
          width: 190px;
          top: 0;
      }
      #sidebar .list-group > .list-group-item {
          text-align: center;
          padding: .75rem .5rem;
      }
      /* hide caret icons of top level when collapsed */
      #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
      #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
          display:none;
      }

  }

  .collapse.show {
    visibility: visible;
  }
  .collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }


/* login */
.bg-body{
  background-color:#F2F7FB;
  width:100%;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.login-container{
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* max-width:35%; */
  border-radius: 4px;
}

.forget-pwd{
   margin-top: -1.8rem;
}

.form-container{
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;

}

.bg-login{
  /* background-color: #2273B9; */
  background-color: #f2f7fb;
  border-radius: 5px;
  color: #fff;
  padding: 15px;
  text-align: center;
}

/* general button style */

.btn-green{
  background-color:#95c83d;
  border-color:#95c83d;
  color:#fff;
}

.btn-green:hover{
  background-color:#4ba645 !important;
  border-color:#4ba645 !important;
  color:  #fff;
}
.btn-blue{
  background-color:#0CA8DD;
  border-color:#0CA8DD;
  color:#fff;
}


.btn-outline-gray{
  border-color: #58595b;
  color: #58595b;
  background-color: transparent;
  background-image: none;
}
.btn-outline-gray:hover{
  border-color: #58595b;
  color: white;
  background-color: #58595b;

}

.btn-blue:hover{
  background-color:#73b4ff !important;
  border-color:#73b4ff !important;
  color:  #fff;
}

.text-green{
  color:#12A5DD;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(75, 166, 69, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(75, 166, 69, 0.7);
  outline: 0 none;
}




.input-text{
  font-size: 1em !important;
  color: #333!important;
  font-weight: 600 !important;
  margin-bottom: 0.5em !important;
  line-height:1!important;
}

.icon-header >li{
    display: inline-block;
    padding-right: .60rem;
    padding-left: .60rem;

}

.icon-header >li a{
  text-decoration: none;
  color:#58595b;

}


/* Header Page */

.page-header-title{
   margin-top: 0.20rem;
   /* margin-bottom:1.5rem; */
}

.breadcrumb{
  background-color: transparent;
  float:right;
}
.breadcrumb a{
  font-size: 0.90rem;
  text-decoration: none;
}

.breadcrumb li{
  font-size: 0.90rem;
}

.page-header-title span{
  font-size: 0.90rem;
}
.header-table-title{
    padding:.35rem 1.25rem !important;
}

.header-table-title h3{
  position: relative;
  left: .35rem;
  display: inline-block;
  margin-right: 3em;
  font-size: 1rem;
  font-weight: 600;
  color: #0e1a35;
  line-height: 15px;
  /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); */
}
h5{
  font-weight: 600;
}

.card-header{
  padding:.35rem 1.25rem !important;
}

.table-container{
  border-radius: .25rem !important;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1), 0 11px 6px -7px rgba(43,43,43,0.1);
  /* border-color: #0e1a35; */
  background-color: #fff;
}


.table-container th {
    font-size: 14px!important;
    font-weight: 600;
    background-color: #f7f7f7;
}


.card-body-container{
  padding: 1rem !important;
}

.card-link{
  color: #0e1a35;
  font-weight: 600;
  font-size: 1rem;
}

.form-text label{
  font-size: 14px!important;
  font-weight: 600;
  color:#0e1a35;
}

.icon-table-option span i{
  color:#0e1a35;
}

/* table option hover */

/*hover icon table */
.rgMasterTable,
.rgMasterTable tr td:last-child {
  position: relative;
}


.rgRow td {
  padding: 0 10px;
  height: 2.5em;
  vertical-align: middle;
}


.rgRow td > .action {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  right: 0;
  top: 0.5em;
  /* 1/4 height of td*/
  height: 2em;
  /*height of td*/
  width:8em;
}

.rgRow:hover td > .action {
  opacity: 1;
}

.rgMasterTable tbody tr td:first-child:before {
  width: 100%;
  content: '';
  display: block;
  height: 2em;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  margin-top: -6px;
  /* off set space above text */
  left: 0;
  transition: background 0.5s;
}

.rgRow:hover{
	background-color:#E9F5FA;
}

.rgMasterTable tbody tr:hover .rgRow td:first-child:before {
  background: rgba(0, 0, 0, 0.6);
}

.rgMasterTable tbody tr:hover .rgAltRow td:first-child:before {
  background: rgba(0, 0, 0, 0.6);
}

.rgRow td > .action > a {
  margin: 0 0 0 0;
  background: #E9F5FA;
  color: #1a1a1a;
  text-decoration: none;
  border-radius: 2px;
  padding-top:10px;
  padding-left:5px;
  padding-right:5px;
  transition: color 0.5s, background 0.5s;
}

/*Not important -- example only*/

.rgRow td > .action > a:hover {
  background: #ddd;;
  color: #1a1a1a;
}


.rgMasterTable tbody tr a {
    text-decoration: none;
    color: #1a1a1a !important;
}

/* icon option hove table */


.icon-table-option .bg-blue:hover {
  color: #3ca1ff;
}

.icon-table-option .bg-green:hover {
  color:#8eca3f;
}

.icon-table-option .bg-dang:hover {
    color:red;
}


/* pagination table */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  font-size:0.79rem;
}

.pagination a.active {
  background-color: #0CA8DD;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.footer-modal {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    background: #f5f5f5;
    width: 96.5%;
    border-top: 1px solid #f5f5f5;
}



/* tabs */

.nav-item a{
  font-size: 0.80rem;
}
.nav-link{
  padding: .5rem .45rem;
}

.form-control{
  background-color: #e8f0fe;
}
